# framework ai & agent
langchain
langgraph
langchain-openai
langchain-community

# vectordb
chromadb
sentence-transformers
pypdf
tiktoken

#backend & API
fastapi
uvicorn

#env manajement
python-dotenv