# framework ai & agent
langchain
langgraph
langchain-groq
langchain-community

# vectordb & embedding lokal
chromadb
sentence-transformers
pypdf
tiktoken
huggingface_hub

# backend & API
fastapi
uvicorn
requests

# env management
python-dotenv