# framework ai & agent
langchain
langgraph
langchain-groq
langchain-community
groq

# backend, api & keamanan
fastapi
uvicorn
slowapi
requests

# dashboard (frontend lokal)
flask

# env management
python-dotenv

# database
sqlalchemy

# vectordb & embedding lokal (rag)
chromadb
langchain-chroma
langchain-huggingface
sentence-transformers
pypdf
tiktoken
huggingface_hub

# vision processing 
opencv-python
numpy